<h1>Fruits with similar calories as <%= @fruit_name.underscore.humanize %></h1>

<ul>
    <% @fruits.each do |fruit| %>
        <li><%= link_to fruit[:name].underscore.humanize, fruits_path(search: fruit[:name]) %></li>
    <% end %>
</ul>
